@media screen and (max-width: 720px) {

    header > h1 { 
        font-size: 2rem !important;
    }
    
    .cortes {
        flex-direction: column;
    }
    .name {
        font-size: 1.8rem !important;
    }

}

@media screen and (max-width: 820px ) {
    header, #facebook, #instagram, #whatsapp {
        display:none;
    }
    .img-logo {
        display: none;
    }

}