@import url('media.css');
@import url('./font.css');

@import url('https://fonts.googleapis.com/css2?family=Lobster&display=swap');

html {
    scroll-behavior: smooth;
}

#cortes, #barbas, #sobrancelhas:target {
    scroll-margin-top: 3em;
}


* {
    margin:0;
    padding:0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
    text-transform: capitalize;
    scroll-behavior: smooth;
}

body {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    overflow-x: hidden;
    width:100vw;
    
}

header {
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: row;
    width: 60%;
    height: 5rem;
    margin-bottom: 1rem;
    cursor: pointer;
    margin-top: 1rem;
}

.icons {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 1rem;
    margin-right: 1rem;
}

.icons > a {
    margin: .5rem;
}

#facebook {
    width: 40px;
    border-radius: 10px;
}
#facebook:hover {
    transition: .4s;
    transform: scale(1.1);
}

#instagram {
    width:46px;
    border-radius: 10px;

}
#instagram:hover {
    transition: .4s;
    transform: scale(1.1);
}
#whatsapp {
    width:40px;
    border-radius: 10px;

}
#whatsapp:hover {
    transition: .4s;
    transform: scale(1.1);
}

.header-box > h1 {
    display: flex;
    width:460px;
    justify-content: center;
    align-items: center;
    font-family: "Lobster", sans-serif;
    font-size: 3rem;
    text-decoration: underline;
    border: 2px solid black;
    border-radius: 3rem;
    padding: 0 3rem 0 3rem;
    margin-top: 10px;
    margin-bottom: 10px;
    flex-wrap: nowrap;
}

.header-box> ul {
    display: flex;
    justify-content: space-around;
    width: 100%;
    font-weight: bold;
    cursor: pointer;
}

.header-box> ul > li {
    list-style-type: none;
    width:100%;
    cursor: pointer;
}

.header-box > ul > li > a {
    text-decoration: none;
    font-family: 'poppins-regular', sans-serif;
    text-transform: uppercase;
    color: #222;
    cursor: pointer;
}

.header-box > ul > li > a:hover {
    color:#ff8800;
    cursor: pointer;
    transition: .4s;

}

.hr {
    background-color: #222;
    border-radius: 30px;
    border: 2 px solid #222;
}

.perfil {
    display: flex;
    justify-content: center ;
    align-items: center;
    margin: 5rem;
}
.text-perfil {
    width: 450px;
    height: auto;
    line-height: 2rem;
    font-weight: bold;
}
.name {
    margin-bottom: 1rem;
    font-family: "Lobster", sans-serif;
    color: black;
    text-align: center;
    font-size: 2rem;
}
.name:hover {
    transition: .4s;
    transform: scale(1.1);
    cursor: pointer;
}
.text-perfil > p {
    margin: 2rem;
    text-indent: 2rem;
}

.img-logo {
    border-radius: 1rem;
    margin-left: 2rem;
}
.img-logo:hover {
    transition: .4s;
    transform: scale(1.1);
}

main {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-top:10px;
}

article {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 4.5rem
}

article > section > h4 {
    text-transform: capitalize;
    text-align: center;
}

.title-article{
    display: flex;
    justify-content: center;
    align-items: center;
    text-transform: capitalize ;
    font-family: 'Lobster';
    width:100%;
    height: 2.5rem;
    background: linear-gradient(90deg, transparent, #ee97339a, transparent);
    color: white;
    text-shadow: 2px 3px 4px #00000099;
}

.cortes {
    margin:0;
}

.section {
    margin: 2.5em;
}
.section > p{
    text-align: center;
}

.section > h4 {
    margin: 10px;
}

.imgs {
    width: 220px;
    height: 250px;
    border-radius: 1rem;
}
.imgs:hover {
    border: 2px solid #ff8800;
}

footer {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: en;
    background-color: #222;
    width:100vw;
    height: auto;
}

.box-footer {
    display: flex;
    width: 80%;
    justify-content: space-between;
}

.contact {
    color: #eee;
    font-family:'poppins-regular', sans-serif;
    font-size: 14px;
    line-height: 1.5rem;
    font-weight: bolder;
    border-left: 1px solid #474747;
    padding-left: 1rem;
    margin: 2rem;
    display: flex;
    flex-direction: column;
}
.contact > p > a {
    color: #ddd;
}
.contact > p > a:hover {
    transition: 0.4s;
    color:#ff8800;
}

.copyright > p {
    color: #fff;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 12px;
    background-color: #00000099;
    width: 100vw;
    height: 2rem;
    display: flex;
    justify-content: center;
    align-items: center;
}
.copyright > p > a {
    color: #ccc
}
.copyright > P > a:hover {
    color: #fff;
}



